.dashboard-contaiter {
  padding: 10px 10px;
  border: 1px solid #000000;
  flex: 50%;
}

.dashboard-lines-cont {
  
}

.dashboard-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  align-items: center;
  font-size: 16px;
  height: 26px;
}

.dashboard-line-text {
  
}

.dashboard-line-steppers {
  display: flex;
  column-gap: 10px;
}

.dashboard-result {
  margin-top: 18px;
}