@import "../colors.scss";

.npm-modal {
  /* z-index: 100; */
  background: $white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  max-width: 400px;
  padding: 30px;
}

.npm-modal-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.npm-modal-button {
  width: 100px;
}