@import "../colors.scss";

.playerlist-container {
  padding: 10px 10px;
  border: 1px solid $black;
  flex: 50%;
}

.playerlist-players {
  overflow-y: auto;
  max-height: 600px;
}

.playerlist-player {
  font-size: 16px;
  cursor: pointer;
  height: 30px;
  width: 100%;
}

.playerlist-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerlist-icon.finished {
  color: $green_1;
}

.playerlist-icon.process {
  color: $blue_0;
}

.playerlist-icon.new {
  color: $orange;
}

/* Deletion of the default padding */
.playerlist-player:first-child {
  padding-top: 0.21428571em!important;
}

.playerlist-player.selected {
  color: $blue_1;
  font-weight: bold;
}

.playerlist-button-container-add-player {
  display: flex;
  justify-content: flex-end;
}

.playerlist-button-add-player {
  width: 120px; 
}