@import "./colors.scss";

.bpw-container {
  position: absolute;
  width: 240px;
  height: 100px;
  padding: 10px;
  background: $white_grey_1;
  border: 1px solid $grey;
  border-radius: 5px;  
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, .1);
}

.bpw-top-scorer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.bpw-message {
  cursor: default;
}

.bpw-photo-and-data {
  display: flex;
}

.bpw-league {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bpw-photo {
  height: 60px;
}

.bpw-data {
  cursor: default;
  margin-left: 10px;
}

.bpw-name {
  cursor: default;
  font-size: 14px;
  line-height: 18px;
}

.bpw-club {
  cursor: default;
  font-size: 11px;
  line-height: 14px;
}

.bpw-goals {
  cursor: default;
  font-size: 12px;
  line-height: 16px;
}

.bpw-logo-and-name {
  display: flex;
}

.bpw-logo {
  height: 14px;
  padding-right: 3px;
}

.bpw-league-name {
  cursor: default;
  font-size: 11px;
  line-height: 13px;
}

.bpw-flags {
  padding-top: 1px;
  cursor: pointer;
}